<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Sign up Page</title>
	
<link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"></head>

<body>
	
	<div th:replace="@{/header}::header"></div>
	<div class="signUp">
		<div class="form-container">
			<h1 class="form-title">User Registration Form</h1>
			<form th:action="@{/register}" th:object="${loginData}" method="post">
				<input type="text" name="userName" placeholder="Enter Name">
				<input type="email" name="userEmail" placeholder="Enter Email">
				<input type="password" name="userPassword" placeholder="Enter password">
				<input type="password" name="userConfirmPassword" placeholder="Enter password again">
				<input class="full-width" type="text" name="userPhone" placeholder="Enter phone No.">
				<textarea rows="5" name="userAddress" placeholder="Enter address"></textarea>
				<textarea rows="5" name="userImage" placeholder="Enter Image url"></textarea>
				<button type="submit" class="btn full-width">SignUp</button>
				<span>Already Registered,<a th:href="@{/login}">Login Here</a></span>
			</form>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--<h1>User Registration Form</h1>

	<form th:action="@{/register}" th:object="${loginData}" method="post">
		<input type="text" name="Name" placeholder="Enter your Name" required>
		<input type="email" name="Email" placeholder="Enter Your Email" required>
		<input type="password" name="password" placeholder="Enter the password" required>
		<input type="text" name="Mobile" placeholder="Enter your Mobile No" required pattern="[0-9]{10}" maxlength="10">
		<input type="submit" name="Submit" >
		 </form>-->
</body>

</html>