<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>My Orders</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/userDashboard.css}" />
</head>

<body>
    <div th:replace="@{/header}::header"></div>
	<div class="dashboard">
	<div th:replace="@{/admin/fragments/dashboardSidebar}::dashboardSidebar"></div>
	<div class="right-content">
		<h2>My Orders</h2>
	
	<hr> 
	<div class="content">
		<table cellspacing=0>
			<tr>
				<th>ProductImage</th>
				<th>OrderId</th>
				<th>ProductName</th>
				<th>ProductPrice</th>
				<th>ProductQuantity</th>
				<th>OrderDate</th>
				<th>order_status</th>
				<th>Total Price</th>
				<th>Action</th>
			</tr>
			<tr th:each="item:${orderData}">
				<td>
					<a th:href="@{/userOrder/{Order_id} (Order_id=*{item.Order_id})}">
						<img th:src="*{item.product_img}" style="width: 70px;">
					</a>
				</td>
				<td th:text="*{item.order_id}"></td>
				<td>
					<a th:href="@{/userOrder/{Order_id} (Order_id=*{item.Order_id})}"
						th:text="*{item.product_name}"></a>
				</td>
				<td th:text="*{item.product_price}"></td>
				<td th:text="*{item.product_quantity}"></td>
				<td th:text="*{item.order_date}"></td>
				<td>
							<p th:if="*{item.order_status}==pending" class="pending" th:text="${item.order_status}"></p>
							<p th:if="*{item.order_status}==accepted" class="accepted" th:text="${item.order_status}"></p>
							<p th:if="*{item.order_status}==rejected" class="rejected" th:text="${item.order_status}"></p>
							<p th:if="*{item.order_status}==cancelled" class="cancelled" th:text="${item.order_status}"></p>
						</td>
						<td th:text="*{item.product_quantity*item.product_price}"></td>  
						<td><a th:unless="${item.order_status}==cancelled or ${item.order_status}==rejected" href="#" class="danger">cancel</a></td>
					</tr>
		</table>
		</div>
	</div>
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--
	<div th:replace="@{/admin/fragments/dashboardSidebar}::dashboardSidebar"></div>

	<div>
		<table>
			<tr>
				<th>ProductImage</th>
				<th>OrderId</th>
				<th>ProductName</th>
				<th>ProductPrice</th>
				<th>ProductQuantity</th>
				<th>OrderDate</th>
				<th>OrderStatus</th>
				<th>Total Price</th>
			</tr>
			<tr th:each="item:${orderData}">
				<td>
					<a th:href="@{/userOrder/{Order_id} (Order_id=*{item.Order_id})}">
						<img th:src="*{item.product_img}" style="width: 70px;">
					</a>
				</td>
				<td th:text="*{item.order_id}"></td>
				<td>
					<a th:href="@{/userOrder/{Order_id} (Order_id=*{item.Order_id})}"
						th:text="*{item.product_name}"></a>
				</td>
				<td th:text="*{item.product_price}"></td>
				<td th:text="*{item.product_quantity}"></td>
				<td th:text="*{item.order_date}"></td>
				<td th:text="*{item.order_status}"></td>
				<td th:text="*{item.product_quantity *  item.product_price}"></td>
			</tr>
		</table>
	</div>-->
</body>

</html>